{% extends "base.html" %}
{% load static %}
{% block title %}
SMS API
{% endblock %}
{% block extra_head_content %}
		<link rel="stylesheet" type="text/css" href='{% static "website/css/sms_api.css" %}'>
{% endblock %}
{% block content %}	
		<section>
			<div class="web-title">
				<div class="container">
					<h3>24/7 Tech Support</h3>
					<h1>SMS API Build for Developers</h1>
					<h2>Easy, Secure and Reliable SMS API</h2>
					<p>Enables you to connect with the customers worldwide</p>
					<div>
						<button>Talk to an Expert</button>
						<button>Contact Us</button>
					</div>
				</div>
			</div>
			<div class="receive-callbackbar">
				<div class="container">
					<div class="callbackbar-text">
						<h1>Receive a Call-Back</h1>
						<p>Let our team help you cater your technical requirements</p>
					</div>
					<form name="callbackbarform">
						<div class="callbackbar-form">
							<div class="inputbar">
								<label>Name<span>*</span></label>
								<input type="text" name="name" placeholder="Enter your full name" required maxlength="45" />
							</div>
							<div class="inputbar">
								<label>Work Email<span>*</span></label>
								<input type="text" name="email" placeholder="Enter your work email" pattern=".+@.+.com" required maxlength="45" />
							</div>
							<div class="inputbar">
								<label>Phone Number<span>*</span></label>
								<input type="text" name="phoneNumber" placeholder="Enter your phone number" pattern="[0-9]{3}-[0-9]{2}-[0-9]{3}" required maxlength="10" />
							</div>
							<div class="requestbutton">
								<button type="submit">Send Request</button>
							</div>
						</div>
					</form>
				</div>
			</div>
			<div class="sms-api-service">
				<div class="container">
					<h1>SMS API Service</h1>
					<p>We made it simple yet trusted and most reliable integration for developer-friendly global SMS API into your communications platform. It is to send SMS text messages to your customers fast and easily. Get up and running quickly with clear documentation, developer tools, and comprehensive reporting.</p>
					<form>
						<div class="download">
							<div class="input-field">
								<input type="email" name="email" placeholder=" " pattern=".+@.+.com" required maxlength="45"/>
	  							<label for="input-text-field">
	    							<span class="first-letter">Please enter your work email</span><span class="second-letter">*</span>
	  							</label>
							</div>
							<button disabled><img src='{% static "website/img/download_black_24dp.svg" %}' alt=""/>Download API</button>

						</div>
					</form>
				</div>
			</div>
			<div class="article">
				<div class="reach-engage">
					<div class="container">
						<div class="article-img">
							<img src='{% static "website/img/illustration1.svg" %}' alt=""/>
						</div>
						<div class="article-text">
							<h1>Reach and Engage More Customers</h1>
							<p>
								95% of SMS messages are read within 3 minutes. Interact with your values potential customers with engaging and relevant sms messages. We web provide authentic and trusted sms channels to ensure your all sms delivered on time always. We don't compromise on quality networks. webs SMS API makes it easy to implement SMS across your entire enterprise.
							</p>
						</div>
					</div>
				</div>
				<div class="notification-alert">
					<div class="container">
						<div class="article-text">
							<h1>Notifications and SMS Alerts</h1>
							<p>Send transactional sms messages in time to your customers like share purchase receipt information, money transfer receipts, over due bill notifications, pay rental alert, installment due. Protect your customer data with 2 factor authentication notifications.</p>
						</div>
						<div class="article-img">
							<img src='{% static "website/img/illustration2.svg" %}' alt=""/>
						</div>
					</div>
				</div>
				<div class="improve-experience">
					<div class="container">
						<div class="article-img">
							<img src='{% static "website/img/illustration3.svg" %}' alt=""/>
						</div> 
						<div class="article-text">
							<h1>Improve Customer Experiences</h1>
							<p>web SMS API allows to send instantly to all 750+ direct carriers/operators. Unparalleled global delivery of your brand communications, notifications, and critical customer alerts.</p>
						</div>
					</div>
				</div>
				<div class="operational-costs">
					<div class="container">
						<div class="article-text">
							<h1>Lower Operational Costs</h1>
							<p>We have lifted all burden of messaging with 24/7 support. Brands that use SMS messages to communicate with customers can experience up to a 20% decrease in support calls and a 25% increase in customer satisfaction. Incorporate text messaging into your call center, deliver instant offers, and invite real-time feedback with an SMS API designed for your enterprise needs.</p>
						</div>
						<div class="article-img">
							<img src='{% static "website/img/illustration4.svg" %}' alt=""/>
						</div>
					</div>
				</div>
			</div>
			<div class="salient-features">
				<div class="container">
					<h1>Salient Features</h1>
					<div class="salient-features-item-content">
						<div class="salient-features-item">
							<div class="salient-features-item-img">
								<img src='{% static "website/img/premium.svg" %}' alt=""/>
							</div>
							<div class="salient-features-item-text">
								<h2>Premium Quality</h2>
								<p>Enjoy the premium quality of our dynamic, flexible SMS API Gateway that guarantee the accuracy and instant delivery of your OTP SMS, Transactions SMS text to any destination mobile in the world.</p>
							</div>
						</div>
						<div class="salient-features-item">
							<div class="salient-features-item-img">
								<img src='{% static "website/img/availability.svg" %}' alt=""/>
							</div>
							<div class="salient-features-item-text">
								<h2>High Availability and Scalability</h2>
								<p>Expand your reach to customers with our proprietary SMS API Gateway Server that seamlessly integrates with your systems and supports multiple interfaces, with minimal programming effort.</p>
							</div>
						</div>
						<div class="salient-features-item">
							<div class="salient-features-item-img">
								<img src='{% static "website/img/best-price.svg" %}' alt=""/>
							</div>
							<div class="salient-features-item-text">
								<h2>Fair Pricing</h2>
								<p>Pay only for what you need and get the best value for your money, with our specific routes that consider your business needs and the urgency level of your messages. What get you here Won't get you there!</p>
							</div>
						</div>
						<div class="salient-features-item">
							<div class="salient-features-item-img">
								<img src='{% static "website/img/globalization.svg" %}' alt=""/>
							</div>
							<div class="salient-features-item-text">
								<h2>Global Reach with Local Support</h2>
								<p>Get immediate coverage to billions of customers around the globe through our 700+ global carrier connections and 85+ networks within the Middle East and Africa.</p>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="why-sms-content">
				<div class="why-sms">
					<div class="container">
						<h1>Why SMS?</h1>
						<p>The sms messaging empowers you to have better customer acquisition, retention of old customers, rapid increase in sales and revenues. You can send sms messges to increase the loyalty and reduce the cost of marketing. Get connected with SMS API platform Now to better engage your customers. We offer state of an art platform with instant message delivery anywhere, any time.</p>
						<div class="why-sms-item-content">
							<div class="why-sms-item">
								<img src='{%static "website/img/verification.svg" %}'' alt=""/>
								<h2>Account Verification</h2>
								<p>Send codes via SMS to verify phone numbers</p>
							</div>
							<div class="why-sms-item">
								<img src='{% static "website/img/deal.svg" %}'' alt=""/>
								<h2>Engage Customers</h2>
								<p>Share product updates, enhanced features, and drive downloads with SMS</p>
							</div>
							<div class="why-sms-item">
								<img src='{% static "website/img/sms.svg" %}' alt=""/>
								<h2>User Notifications</h2>
								<p>Send important alerts, reminders, confirm orders and more, all via SMS</p>
							</div>
						</div>
					</div>
					<div class="container">
						<div class="form-content">
							<div class="form-content-main">
								<h3>Have a project we can help with?</h3>
								<p>Let our team help you cater you technical requirements</p>
								<form>
									<div class="input-user">
										<div class="firstname">
											<label>First Name<span>*</span></label>
											<input type="text" name="firstname" placeholder="Enter your first name" required maxlength="45">
										</div>
										<div class="lastname">
											<label>Last Name<span>*</span></label>
											<input type="text" name="lastname" placeholder="Enter your last name" required maxlength="45">
										</div>
										<div class="workemail">
											<label>Work Email<span>*</span></label>
											<input type="text" name="email" placeholder="Enter your work email" pattern=".+@.+.com" required maxlength="45">
										</div>
									</div>
									<div class="input-info">
										<div class="phone-number">
											<label>Phone Number<span>*</span></label>
											<input type="text" name="phoneNumber" placeholder="Enter your phone number" pattern="[0-9]{3}-[0-9]{2}-[0-9]{3}" required maxlength="45">
										</div>
										<div class="company">
											<label>Company<span>*</span></label>
											<input type="text" name="company" placeholder="Enter your company's name" required maxlength="45">
										</div>
										<div class="website">
											<label>Website</label>
											<input type="text" name="website" placeholder="Enter your work email" required maxlength="45">
										</div>
									</div>
									<div class="description">
										<label>Description</label>
										<textarea required placeholder="Enter Description"></textarea>
									</div>
									<div class="submitbutton">
										<button type="submit">Submit</button>
									</div>
								</form>
							</div>
						</div>
					</div>
					<img src='{% static "website/img/message_illustration.svg" %}' alt=""/>
				</div>
			</div>
		</section>
{% endblock %}
		
{% block extra_js %} 	
		<script type="text/javascript">
			$(document).ready(function(){
				
  				
  				$('.download input').on('input', function() {
	  				if ($(this).val().length > 0) {
	  					$('.download button').removeAttr('disabled');
	  				}
	  				else {
	  					$('.download button').attr('disabled', 'true');
	  				}
  				});
  				
			});
		</script>
{% endblock %}	
	