{% load static %}
<header>
  <div class="container d-flex justify-content-between align-items-center">
    <div class="mail-address">
      <img class="" src='{% static "website/img/mail-24px.svg" %}' alt="info@ee.com">

      
      <span class="tooltiptext">info@ee.com</span>
    </div>
    <div class="phone-number">
      <img class="" src='{% static "website/img/call-24(solid)px.svg" %}' alt="+971 6 749999994 | +971 52 70998877">

      
      <span class="tooltiptext">+971 6 99889994 | +971 52 799887751</span>
    </div>
    <ul class="d-flex align-items-center">
      <li role="button"><a href="https://www.facebook.com/rivetsolutionsfze/" target="_blank"><i class="fa fa-facebook"></i></a></li>
      <li role="button"><a href="https://twitter.com/RivetSolution" target="_blank"><i class="fa fa-twitter"></i></a></li>
      <li role="button"><a href="https://www.instagram.com/rivetsolutionsfze/" target="_blank"><i class="fa fa-instagram"></i></a></li>
      <li role="button"><a href="https://www.linkedin.com/company/rivetsolutions/" target="_blank"><i class="fa fa-linkedin"></i></a></li>
      <li role="button" style="margin-right: 0"><a href="https://www.youtube.com/channel/UCJJp711qIrkI1y6fVhBuTOg?view_as=subscriber" target="_blank"><i class="fa fa-youtube-play"></i></a></li>
    </ul>
  </div>
</header>